
body {
  background-color: black;
}

.bodyFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
  color: black;
  font-weight: bold;
}

.menu {
  margin-bottom: 20px;
  text-align: center;
}

.mtitle {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 3em;
  padding: 0em 0.5em;
  margin-bottom: 1em;
  border-bottom: 4px solid #990000;
}

.mlist {
  list-style: none;
  display: flex;
  justify-content: center;
}

#navm {
  background-color: lightgrey;
}

.rollnav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.625em 0.6375em;
  display: inline-block;
  border-radius: 0.3125em;
}

.rollnav:hover {
  color: #990000;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #333;
  border-bottom: 0.125em solid #ccc;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin: 1.25em 0;
  padding: 0.625em;
  border-bottom: 0.125em solid #ccc;
}

p {
  font-size: 1.2em;
}

.forms-field {
  width: 90%;
  max-width: 25em;
  margin: 0 auto;
  padding: 1.25em;
  background-color: #f7f5f5;
  text-align:center;
}

.form-group {
  margin-bottom: 0.9375em;
}

.form-group label {
  display: block;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.3125em;
  text-align: left;
}

.input-field {
  width: 90%;
  padding: 0.625em;
  font-size: 1em;
  outline: none;
}

.input-field:focus {
  border-color: #990000;
}

.submit-button {
  width: 100%;
  padding: 0.625em;
  font-size: 1em;
  font-weight: bold;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 0.3125em;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #990000;
}

.media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

video, img {
  width: 100%;
  height: auto;
}

.mainc {
  padding: 1.25em;
  margin: 1.25em auto;
  width: 80%;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
  background-color: #f7f5f5;
  text-align: center;
}

@media screen and (min-width: 768px) {

  .forms-field {
    width: 90%;
    max-width: none;
  }
  
  .mtitle {
    font-size: 4em;
  }

  .input-field {
    width: 100%;
  }
    .rollnav {
  padding: 0.625em 0.5em;
  }

}

@media screen and (min-width: 1200px) {
  .input-field {
    width: 90%;
  }

  .forms-field {
    max-width: 35em;
  }
}
  .rollnav {
  padding: 0.625em 0.75em;
  }
}

