.bodyFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: black;
  font-weight: bold;
}
body{
  background-color: black;
}
.menu {
  margin-bottom: 20px;
  text-align: center;
}
.mlist{
  list-style: none;
  display: flex;
  justify-content: center;
}
#navm{
  background-color:lightgrey;
}

.rollnav{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px; /* Adjusted line height for better spacing */
  color: #FFFFFF; 
  text-decoration: none; 
  padding: 10px 15px; /* Adds space around the text  */
  display: inline-block; /* giving it a Button-like appearance */
  border-radius: 5px; /* Adds rounded corners */
  background-color: #333333; /* adding Button background color */
}

a.rollnav:hover {
  color: #990000; /* Changes text color on hover */
  background-color: #555555; /* Changes button background color on hover */
  text-decoration: none; /* Ensures no underline appears */
}
.navFont {
  font-family: Arial, Helvetica, sans-serif;
  color: #999999;
  font-size: 11px;
}

/* Main Content for history page*/
.mainc{
  padding: 20px;
  background-color: #f4f4f4;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* for the read More Link */
.read-more .rollnav {
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .mainc table {
    width: 100%; /* Adjusts the table width for mobile devices */
  }

  .mainc td {
    display: block; /* Stack cells vertically */
    width: auto;
  }
}

/*parts that doesn't apply to the history page*/
.formsField {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #666666;
  text-decoration: none;
  border: 1px solid #666666;
  text-align: center;
}
.formsMessage {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #666666;
  text-decoration: none;
}
.formsSend {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}
.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: bold;
  color: #666666;
  font-style: italic;
}
.bodyFont .style2 .style2 {
}
this page {
  color: #666;
}
tr td div .rollnav .bodyFont {
  color: #666;
}
