body{
  background-color: black;
}
.bodyFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: black;
  font-weight: bold;
}
.menu {
  margin-bottom: 20px;
  text-align: center;
}
.mtitle{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  margin:10,10,10,10;
  text-align: left;
  font-size:3em;
  padding: 3em 2em;
  margin-bottom: -2em;
  border-bottom: 4px solid #FF0000;

}
h2{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin: 20px 0;
  padding: 10px;
  border-bottom: 2px solid #ccc;  
}
.mlist{
  list-style: none;
  display: flex;
  justify-content: center;
}
#navm{
  background-color:lightgrey;
}

.rollnav{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px; /* Adjusted line height for better spacing */
  color: #FFFFFF; 
  text-decoration: none; 
  padding: 10px 15px; /* Adds space around the text  */
  display: inline-block; /* giving it a Button-like appearance */
  border-radius: 5px; /* Adds rounded corners */
  background-color: #333333; /* adding Button background color */
}

a.rollnav:hover {
  color: #990000; /* Changes text color on hover */
  background-color: #555555; /* Changes button background color on hover */
  text-decoration: none; /* Ensures no underline appears */
}
.navFont {
  font-family: Arial, Helvetica, sans-serif;
  color: #999999;
  font-size: 11px;
}

/* Main Content for history page*/
.mainc{
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  margin: 25px auto 0;
  padding: 20px;
  background-color: #f7f5f5;
  text-align: center;
  border-bottom: 4px solid #FF0000;
}


/*parts that doesn't apply to the history page*/
.formsField {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  width:90%;
  font-size:0.9em;
}

tr td div .rollnav .bodyFont {
  color: #666;
}
